# Ignore app util files

build/
dist/
*.spec

# Ignoring MacOS service files
.DS_Store

# Ignore python venv
.venv/
venv/
ENV/

# Ignore pycache
__pycache__/

# Ignore IDE
.vscode/

# Ignore coverage file
.coverage
